/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

/* Navigation bar styles */
.nav-wrapper {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.nav-wrapper ul,
.dropdown-content {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #007bff;
    width: 100%;
}

.nav-wrapper ul {
    display: none; /* Initially hidden, shown via JavaScript or on larger screens */
    flex-direction: column;
    top: 100%; /* Position directly below the nav bar */
}

.nav-wrapper ul li a,
.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.nav-wrapper ul li a:hover,
.nav-wrapper ul li a.active,
.dropdown-content a:hover {
    background-color: #0056b3;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block; /* Always display hamburger icon */
}

/* Dropdown and search styles */
.category-dropdown,
.search-container {
    display: inline-block;
    position: relative;
}

.dropbtn,
.search-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none; /* Hidden until hovered */
    z-index: 1;
}

.category-dropdown:hover .dropdown-content,
.search-container button:hover {
    display: block;
    background-color: #0056b3;
}

/* Search form adjustments */
#product-search,
.search-container button {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: auto; /* Allows flexibility in form size */
}

/* Product layout styles */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    transition: transform .2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    height: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Responsive adjustments for all screens */
@media (min-width: 768px) {
    .nav-wrapper ul {
        display: flex; /* Show navigation as flex */
        flex-direction: row; /* Align items in a row */
        position: static; /* Remove absolute positioning */
        width: auto; /* Auto width */
    }

    .hamburger {
        display: none; /* Hide the hamburger icon on larger screens */
    }
}
